<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About</title>

  <link rel="stylesheet" id="sage/main.css-css" href="{{url_for('static', filename='about_us/css/main_790976ee.css')}}" type="text/css"
    media="all">
</head>

<body class="page-template page-template-page-about page-about page page-id-11 theme-hackerhouse/resources about">

  <div class="container">

  </div>

  <main class="main">

    <div class="back-slash">
      <div class="container">
        <section class="page-header-title">
          <h1><span>About</span></h1>
        </section>
      </div>
    </div>

    <div class="bottom-back-slash">
      <div class="container">
        <section class="widget services-subtitle">
          <div class="content">
            <h2>Our Story</h2>
          </div>
        </section>
      </div>
    </div>

    <div class="gray-bg">
      <div class="container">
        <section class="widget logo-arrow">
          <div class="content">
            <h4>The Spark: A Gateway to the Digital World</h4>
            <p>The first time I touched a computer, I was 10 years old, a kid in a government school. It wasn't just the
              tech; it was
              the feeling, the buzz of possibility under my fingertips. That day, a spark ignited: a fascination with
              the digital
              frontier, a world of puzzles and challenges just waiting to be cracked.</p>

              <p>The internet became my playground. I surfed the waves of information, reveling in the freedom and
              connections it
              offered. But soon, the boundaries blurred. The surface wasn't enough. I craved the thrill of the unknown,
              the hidden
              depths of cyberspace.</p>
              
              <h4>Beyond the Surface: Baptism by Code</h4>
              <p>At 15, I stumbled upon the dark web, a labyrinthine underworld where shadows danced
              and secrets
              whispered. It was a baptism by code, a crash course in the art of ethical hacking.</p>

              <h4>The Thrill of the Hunt: Mastering the Digital Tapestry</h4>
              <p>The thrill of the hunt consumed me. The intricate logic gates, the vulnerabilities in systems – they were
              puzzles
              waiting to be solved. I honed my skills, diving into the code, exploiting those weaknesses, learning not
              to exploit, but
              to understand. With every crack, with every server I accessed, I felt the rush of discovery, the
              satisfaction of
              unraveling the digital tapestry. It wasn't about destruction, but about knowledge, about mastering the art
              of the
              possible.</p>

            <div class="image-content">
              <img src="{{url_for('static', filename='about_us/images/hackers1.jpg')}}" alt="Our Story">
              <img src="{{url_for('static', filename='about_us/images/jen-tedx.jpg')}}" alt="Our Story">
            </div>

            <h4>From Lone Explorer to Community Protector</h4>
            <p>By 18, I realized the power I held. Partnering with the Junagadh cyber police, I transformed from lone
              explorer to
              community protector. We held seminars, spreading awareness about the dangers lurking online. But the
              hacker spirit never
              truly died. It evolved. Now, I use my skills for good, a digital guardian demystifying the shadows,
              teaching others to
              navigate the Web safely.</p>
            <h4>The Evolving Hacker: A Guardian for a Safer Web</h4>
            <p>Today, at 19, I'm still very much a student. The digital landscape is ever-changing, a playground with
              new challenges
              emerging every day. "Hack it or have it" – that's my motto. By understanding the code, we can build better
              defenses,
              create a more secure online world. And while the thrill of the hunt still flickers within me, it's the
              fight for a safer
              internet that drives me forward.
            </p>
          </div>
          <a class="arrow-down" title="Go down"><span>Go down</span></a>
        </section>
      </div>
    </div>

    <div class="our-team-bg page-fingerprint">
      <div class="container">
        <section class="widget our-team">
          <h2>Our Team</h2>
          <ul class="team-list">
            <li class="item">
              <div class="inner">
                <img src="{{url_for('static', filename='about_us/images/headshot.png')}}" alt="Matthew Hickey">
                <h3>Matthew Hickey</h3>
                <h4>CEO &amp; Co-Founder</h4>
                <ul class="social-profiles">
                  <li><a class="icon-twitter" href="https://www.twitter.com/hackerfantastic"
                      title="Twitter Matthew Hickey" target="_blank"><span>Twitter</span></a></li>
                  <li><a class="icon-linkedin" href="https://www.linkedin.com/in/hackerfantastic"
                      title="LinkedIn Matthew Hickey" target="_blank"><span>LinkedIn</span></a></li>
                  <li><a class="icon-mail" href="mailto:info@hacker.house" title="Matthew Hickey Email"
                      target="_blank"><span>Email</span></a></li>
                  <li><a class="icon-github" href="https://www.github.com/hackerhouse-opensource"
                      title="Matthew Hickey Github" target="_blank"><span>Github</span></a></li>
                </ul>
                <p>Matthew is a professional hacker with over 20 years experience providing security services to a
                  global client base. He is widely-known for his research on vulnerabilities in North Korea, exploiting
                  the late Prime Minister of Singapore's code and his hacking of Microsoft's “ransomware-proof" computer
                  during 2017.
                  <a class="more-info" title="More information">+more</a>
                </p>
                <div class="more-content">
                  <p>Matthew’s research on exploits powering the WannaCry ransomware, NSA leaks, and Shadow Brokers in
                    2017 were published to an audience of over 500 million. He is an expert in his field and is highly
                    sought after, to lead long-term engagements that accurately reflect real-world security challenges,
                    simulating attacks on global and high-risk environments. <a class="less-info"
                      title="Less information">-less</a></p>

                </div>
              </div>
            </li>
            <li class="item">
              <div class="inner">
                <img src="{{url_for('static', filename='about_us/images/jennifer.jpg')}}" alt="JENNIFER ARCURI">
                <h3>JENNIFER ARCURI</h3>
                <h4>CFO &amp; Co-Founder</h4>
                <ul class="social-profiles">
                  <li><a class="icon-twitter" href="https://twitter.com/jennifer_arcuri" title="Twitter JENNIFER ARCURI"
                      target="_blank"><span>Twitter</span></a></li>
                  <li><a class="icon-linkedin" href="https://uk.linkedin.com/in/jenniferarcuri"
                      title="LinkedIn JENNIFER ARCURI" target="_blank"><span>LinkedIn</span></a></li>
                  <li><a class="icon-mail" href="mailto:info@hacker.house" title="JENNIFER ARCURI Email"
                      target="_blank"><span>Email</span></a></li>
                </ul>
                <p>In 2012, Jennifer founded one of London’s leading tech conferences, The Innotech Summit, a high
                  profile event series which brought together key policy makers, corporations, and startups to bridge
                  the gap between legislation and innovative technology. In 2014-2015, the Innotech Network specialised
                  in a series of events around information security and the need for cyber skill.
                  <a class="more-info" title="More information">+more</a>
                </p>
                <div class="more-content">
                  <p>It brought together law enforcement and influential leaders from the Prime Ministers office,
                    Department of Culture and Media, Metropolitan Police for the City of London, Ministry of Defence,
                    and the National Crimes Agency. These events, as well as the community movement of hackers in a
                    house, lead to one of the strongest ethical hacking campaigns in the UK for the endorsement of
                    educating and teaching ethical hacking skills. Her work became most popular during her Tedx Talk in
                    Liverpool “Why ethical hacking is important in a 21st century” which helped encourage policy in the
                    UK around education and cyber skills advocacy in the classroom. Jennifer was also an integral part
                    of various skills campaigns across the UK including speaking in classrooms across London surrounding
                    the issues of cyber bullying, what to do in case of a security breach, and children’s safety online.
                    Through her efforts in legislation, events, and security, Jennifer started Hacker House as a
                    community of hackers in east London in 2014. <a class="less-info" title="Less information">-less</a>
                  </p>

                </div>
              </div>
            </li>
            <li class="item">
              <div class="inner">
                <img src="{{url_for('static', filename='about_us/images/cookie.png')}}" alt="COOKIE MONSTER">
                <h3>COOKIE MONSTER</h3>
                <h4>Agile Hacker</h4>
                <ul class="social-profiles">
                  <li><a class="icon-mail" href="mailto:info@hacker.house" title="COOKIE MONSTER Email"
                      target="_blank"><span>Email</span></a></li>
                </ul>
                <p>Due to the nature of our work not all of our team could be listed here. The cookie monster doesn't
                  work for us, but it would be great if he did!
                  <a class="more-info" title="More information">+more</a>
                </p>
                <div class="more-content">
                  <p>Thank you to all our masked avengers who work tirelessly to support us and for all the hard work on
                    coding, designs, assignments and hacking adventures! <a class="less-info"
                      title="Less information">-less</a></p>

                </div>
              </div>
            </li>
            <li class="item">
              <div class="inner">
                <img src="{{url_for('static', filename='about_us/images/research-lab.png')}}" alt="">
                <h3>You</h3>
                <h4>We're hiring</h4>
                <p>We are always on the look out for uniquely talented individuals to join our squadron.</p>
                <a class="button green" href="mailto:info@hacker.house" title="INQUIRE">INQUIRE</a>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="{{url_for('static', filename='about_us/js/index.js')}}" id="swv-js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='about_us/js/index_1.js')}}" id="contact-form-7-js"></script>
</body>

</html>