        <!-- CSS for Footer Section -->
        <link rel="stylesheet" id="sage/main.css-css" href="{{url_for('static', filename='/css/main_790976ee.css')}}" type="text/css" media="all">
<footer>
    <section class="contact middle green fingerprint">
        <div class="container">
            <h2>Questions? Contact us now.</h2>
            <a class="button bcall" href="tel://+917359852938">Call +917359852938</a>
            <a class="button bcontact" href="contact">Or send us a message</a>
        </div>
    </section>
    <section class="info fingerprint bottom gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="logo" href="/" title="Home page"><span>Hacker House</span></a>
                    <h5>Got something on your mind? Drop us a line through our encrypted channels:</h5>

                    <p class="special">Physical Location (if you dare to find us):<br>
                        Underground Lair,<br>
                        Sector 1337,<br>
                        Dark Web City,<br>
                        127.0.0.1</p>
                    <p><b>IN</b> <a href="tel://+917359852938"
                            style="text-decoration: none; color: inherit;">+917359852938</a>
                    </p>
                    <p><a href="mailto:linuxlover7824@gmail.com"
                            style="text-decoration: none; color: inherit;">linuxlover7824@gmail.com</a></p>


                    <ul class="social-profiles d-block d-sm-none">
                        <li><a class="icon-twitter" href="#" title="Twitter" target="_blank"><span>Twitter</span></a>
                        </li>
                        <li><a class="icon-facebook" href="#" title="Facebook" target="_blank"><span>Facebook</span></a>
                        </li>
                        <li><a class="icon-youtube" href="#" title="YouTube" target="_blank"><span>YouTube</span></a>
                        </li>
                        <li><a class="icon-github" href="#" title="Github" target="_blank"><span>Github</span></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 flex-first flex-sm-unordered">
                    <p class="title">More info</p>
                    <nav>
                        <ul id="menu-main-menu-1" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                    href="/scans">Services</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a
                                    href="/about">About</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                                    href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <ul class="social-profiles d-none d-sm-block">
                        <li><a class="icon-twitter" href="#" title="Twitter" target="_blank"><span>Twitter</span></a>
                        </li>
                        <li><a class="icon-facebook" href="#" title="Facebook" target="_blank"><span>Facebook</span></a>
                        </li>
                        <li><a class="icon-youtube" href="#" title="YouTube" target="_blank"><span>YouTube</span></a>
                        </li>
                        <li><a class="icon-github" href="#" title="Github" target="_blank"><span>Github</span></a></li>
                    </ul>
                </div>
                <div class="col-md-4 hidden-sm-down" id="footer-shop">
                    <p class="title">Anonymous</p>

                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{url_for('static', filename='images/hh-hoodie1-273x273.jpg')}}" alt="sahilcipher">
                                <h3>sahilcipher</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
